<!DOCTYPE html>
<html lang="de">
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/mute_not_moving.ico' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/impressum.css' %}">
    <title>MUTE - Credits</title>
</head>

<body>
<div class="background" style="background-image: url({% static 'images/bg_water.png' %})">

    <div class="container">
        <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h2 mt-2">Credits & Danksagung</p>
                </blockquote>
            </figure>
        </div>

        <div class="row">
            <div class="col">
                <p class="h4 mt-2">Danksagung</p>
                <p>Wir bedanken uns bei allen Content Creatorn welche ihre Inhalte öffentlich und kostenfrei zur
                    Verfügung stellen.</p>
                <p>Für dieses Projekt haben wir vorallem in der grafischen Gestaltung auf bereits existente Ressourcen
                    zurückgegriffen.</p>
                <p>Um die Arbeit wertzuschätzen und die Voraussetzungen der kostenfreien Nutzung zu erfüllen listen wir
                    die Links der Creator und Quellen hier auf.</p>

            </div>
            <div class="col">
                <p class="h4 mt-2">Credits</p>
                <ul class="list-unstyled">

                    <li class="mt-2">Gebärden Videos
                        <ul>
                            <li><a href="https://gebaerdenlernen.de/index.php" target="_blank">gebaerdenlernen.de</a></li>
                        </ul>
                    </li>

                    <li class="mt-2"> Sounds
                        <ul>
                            <li><a href="https://soundbible.com/" target="_blank">www.zapsplat.com</a> </li>
                            <li><a href="https://soundbible.com/" target="_blank">www.soundbible.com</a></li>
                        </ul>
                    </li>

                    <li class="mt-2"> Grafiken
                        <ul>
                            <li><a href="https://kenney.nl/" target="_blank">www.kenney.nl</a> </li>
                            <li><a href="https://www.vecteezy.com/vector-art/519547-a-zoo-signboard-on-white-background" target="_blank">www.vecteezy.com</a></li>
                            <li><a href="https://www.freepik.com/free-vector/fences-types-icons-isometric-transparent-set_3796726.htm#page=1&query=fence&position=23
                                        " target="_blank">www.freepik.com</a></li>
                            <li><a href="https://www.pngwing.com/" target="_blank">www.pngwing.com</a></li>
                            <li><a href="https://www.freepik.com/" target="_blank">www.freepik.com</a></li>
                            <li><a href="https://de.depositphotos.com/" target="_blank">www.depositphotos.com</a></li>
                            <li><a href="https://creazilla.com/de" target="_blank">www.creazilla.com</a></li>
                            <li><a href="https://pixabay.com/de/" target="_blank">www.pixabay.com</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
