.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    filter:url("#turbulence") blur(10px) grayscale(10%);
    z-index: -1;
}
