/** {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*body {*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  background: rgba(255, 255, 255, 0.1);*/
/*}*/

.memory-game {
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 5px solid rgb(114, 213, 243);
  background: url(img/wasser.png) center center no-repeat;
  background-size: 100% 100%;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;

}

.front-face {
  transform: rotateY(180deg);
}


/*style="position:absolute; top: 0px; left: 15%;"*/
/*<body background="wasser.png">*/